.card {
  padding: 3px;
  margin: 3px;
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  border: 1px solid rgb(245, 229, 229);
  border-radius: 5px;

  .name {
    display: flex;
    justify-content: space-between;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      margin-left: 10px;

      i{
        cursor: pointer;
      }
    }
  }
}

.card:nth-child(2n+1) {
  background: rgb(200, 234, 245);
}